<div>
    <div class="vertical-right">MediCare UIN: TATHLIP21253V022021</div>
        <div class="first-page">
            <div class="top-line">
                To open insert finger & gently slide it horizontally. =>
            </div>
            <div class="header">
                <div>
                    <div class="header-logo">
                        <img class="tata-logo" src="../images/logo.png" alt="Tata AIG Logo">
                    </div>
                </div>
                <div class="header-text">
                    <div class="header-top">
                        <h2>INLAND LETTER CARD</h2>
                    </div>
                    <div class="header-middle">
                        Renewal Notice
                    </div>
                    <div class="header-bottom">
                        MediCare
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="column-page-1">
                        SpeedPost--AWB <br/>
                        Dear {{name}} <br/>
                        <p class="mobile">Mobile:</p>
                    </div>
                    <div class="column-page-1 page1-details">
                        Branch Name: MUMBAI <br/>
                        Producer Name: TAGIC <br/>
                        Producer Code: 9898989898 <br/>
                        Producer Contact: <br/>
                        RN Generation Date: 13-05-2022 <br/>
                        Renewal Reference No: <br/>
                    </div>
                </div>
            </div>

            <div class="page-middle">
                <div class="empty-space"></div>
            </div>

            <div class="page-bottom">
                <footer class="footer-page1">
                    <div class="warn-text">
                        <div>
                            Insurance is a subject matter of solicitation. For more details on benefits, exclusions, limitations, terms and conditions, please refer sales brochure/policy wordings carefully, before concluding a sale.
                        </div>
                    </div>
                    <div class="footer-pink">
                        <div class="footer-header">
                            <div class="header-head">
                                <h2>Policy Renewal Slip</h2>
                            </div>
                            <div class="footer-header-text">
                                Please fill this slip and send it to Tata AIG General Insurance Company Ltd., PO Box No. 27707, Malad (East), Mumbai - 400 097, Maharashtra, India. Call 24x7 Toll Free Helpline 1800-266-7780<br/>
                                    (*Toll Free from MTNL/BSNL lines only) for any guidance.
                            </div>
                        </div>
                        <div class="footer-payment">
                            <div style="font-size: 13px;">
                                My payment details are as follows:
                            </div>
                            <div class="white-box">
                                <div class="payment-text" style="font-size: 13px;">
                                    I wish to renew my MediCare Policy Number:______________________ and also to authorize the debit of Premium Amount:` _________ ` through Cheque No.: _____________ Dated:_____________ Name of Bank:___________________ Branch:___________________ Sources of Funds : _____ Salary _____ Business _____ Others (Specify) :__________ If you pay by Credit Card, call 24x7 Toll Free Helpline 1800-266-7780
                                </div>
                            </div>
                            <div class="payment-imp" style="font-size: 12.5px;">
                                Please draw your cheque / DD in favour of Tata AIG General Insurance Company Limited. For any assistance call us on 24x7 Toll Free Helpline 1800 266 7780 See reverse toverify and correct your policy details.
                            </div>
                            <div style="font-size: 12.5px;">
                                Commencement of risk cover under the policy is subject to receipt of payable premium by Tata AIG General Insurance Company Limited
                            </div>
                            <div style="font-size: 12.5px;">
                                Other details:
                            </div>
                            <div class="white-box">
                                <div class="pan-text" style="font-size: 13px;">
                                    Insured's PAN Card Number: ________________ Identification card: Type _____________________ Number:___________________ Please provide documentary address proof.
                                </div>
                            </div>
                        </div>
                        <div class="aml-clause">
                            <div class="aml-text" style="font-size: 13px;">
                                <span class="aml-head"><b>AML Clause:</b></span>I/We hereby confirm that all premiums have been/will be paid from bonafide sources and no premiums have been/will be paid out of proceeds of crime related to any ofthe offence listed in Prevention of Money Laundering Act, 2002. I understand that the Company has the right to call for documents to establish sources of funds. The insurance company hasright to cancel the insurance contract in case I am/have been found guilty by any competent court of law under any of the statutes, directly or indirectly governing the prevention of money laundering in India. 
                            </div>
                            <div class="aml-blanks" style="font-size: 12.5px;">
                                Nationality :<span class="blank">_______ Indian</span><span class="blank">________ Non-Indian</span><span class="blank">If Non-Indian, please specify the Country :________________________________________</span>    
                            </div>
                        </div>
                        <div class="laws">
                            <div class="laws-header" style="font-size: 13px;">
                                Section 41 of the Insurance Act, 1938 as amended by Insurance Laws (Amendment) Act, 2015 - Prohibition of Rebates
                            </div>
                            <div class="laws-points" style="font-size: 12.5px;">
                                1. No person shall allow or offer to allow either directly or indirectly as an inducement to any person to take out or renew or continue an insurance in respect of any kind of risk relating to livesor property in India, any rebate of the whole or part of the commission payable or any rebate of premium shown on the policy, nor shall any person taking out or renewing or continuing apolicy accept any rebate, except such rebate as may be allowed in accordance with the published prospectus or tables of the insurer.
                            </div>
                            <div class="laws-points" style="font-size: 12.5px;">2. Any person making default in complying with the provisions of this section shall be liable for penalty which may extend to ten lakh rupees.</div>
                            <div class="laws-points" style="font-size: 12.5px;">
                                I/We hereby declare and warrant that all of the statement/details mentioned above are true and complete. If it is found that any particulars stated above are incorrect or untrue in anyrespect, I/We hereby acknowledge that insurer shall incur no liability for any insurance coverage.
                            </div>
                        </div>
                        <div class="footer-table">
                            <table>
                                <tr style="font-size: 13px;">
                                    <th>Signature</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Date</th>
                                </tr>
                                <tr style="font-size: 13px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>DD/MM/YYYY</td>
                                </tr>
                            </table>
                        </div>
                        <div class="page-footer">
                            <div class="page-footer-head">
                                Tata AIG General Insurance Company Limited
                            </div>
                            <div class="page-footer-text" style="font-size: 12.5px;">
                                <span class="page-footer-head">Registered Office: </span>Peninsula Business Park, Tower A, 15th Floor, G. K. Marg, Lower Parel, Mumbai - 400 013, Maharashtra, India. <br>
                                24x7 Toll Free No: 1800 266 7780 or 1800 22 9966 (Senior Citizens) Email: customersupport@tataaig.com Website: www.tataaig.com <br>
                                IRDA of India Registration No: 108 CIN: U85110MH2000PLC128425 PAN: AABCT3518Q GST No.: 27AABCT3518Q1ZW UIN No: TATHLIP21253V022021.
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <div class="second-page">
            <div class="page-header">
                <div class="medicare-logo"></div>
                <div class="page-header-head">
                    <h1>Renewal Notice</h1> 
                </div>
                <div class="second-header-logo">
                    <img class="tata-aig-logo" src="../images/logo.png" alt="Tata AIG Logo">
                </div>
            </div>
            <div class="main-middle-text">
                <div class="row">
                    <div class="column left" style="font-size: 12.5px;">
                        <div class="upper-text" style="line-height: 10px;">
                            Dear: {{name}} <br>
                            <div class="subject" style="line-height: 10px;">
                                <b>Subject: Renewal intimation of your MediCare policy no. 0235030105.</b>
                            </div>
                            <div class="greetings" style="line-height: 13px;">Greetings from TATA AIG General Insurance Company Limited. Thank you for choosing us as your preferred Health Insurance partner <br>
                                    Your MediCare Policy is due for renewal on <b>10/10/2022.</b> Please renew your policy before the expiry date to continue enjoying your existing benefits. <br>
                                    We look forward to a long and healthy relationship with you and your family.
                            </div>     
                        </div>
                        <div class="middle-table" style="font-size: 12.5px;">
                            <table style="font-size: 13px;">
                                <tr class="table-head">
                                    <th colspan="2">Your Policy Details</th>
                                </tr>
                                <tr>
                                    <td width="30%"><b>Policy No.</b></td>
                                    <td>0235030150</td>
                                </tr>
                                <tr>
                                    <td width="30%"><b>Renewal Due Date</b></td>
                                    <td>10/10/2022</td>
                                </tr>
                                <tr>
                                    <td width="30%"><b>Net Renewal Premium</b></td>
                                    <td>34,153.49</td>
                                </tr>
                                <tr>
                                    <td width="30%"><b>GST @18%</b></td>
                                    <td>6,147.63</td>
                                </tr>
                                <tr>
                                    <td width="30%"><b>Gross Renewal Premium</b></td>
                                    <td>40,301.12</td>
                                </tr>
                            </table>
                        </div>
                        <div class="last-table">
                            <table style="font-size: 13px;">
                                <tr class="table-head" height="100px">
                                    <th width="20%">Name of the Insured Member</th>
                                    <th>Date of Birth</th>
                                    <th width="10%">Relationship with Policyholder</th>
                                    <th>Cumulatice Bonus(Rs.)</th>
                                    <th>Existing Sum Insured(Rs.)</th>
                                    <th>Enhanced Sum Insured(Rs.)</th>
                                    <th>Enhanced Sum Insured With Accidental Death Benefit(Rs.)</th>
                                </tr>
                                <tr>
                                    <td>wdoibv</td>
                                    <td>03/02/1997</td>
                                    <td>Spouse</td>
                                    <td rowspan="3">5,00,000</td>
                                    <td rowspan="3">10,00,000</td>
                                    <td rowspan="3">0</td>
                                    <td rowspan="3">15,00,000</td>
                                </tr>
                                <tr>
                                    <td>Tilak Wala</td>
                                    <td>03/02/1994</td>
                                    <td>Self</td>
                                </tr>
                                <tr>
                                    <td>dvnlwnv</td>
                                    <td>03/02/1994</td>
                                    <td>Son</td>
                                </tr>
                                <tr>
                                    <th height="20px" colspan="4">Premium</th>
                                    <td>Rs. 40,301.12</td>
                                    <td>Rs. 0</td>
                                    <td>Rs. 0</td>
                                </tr>
                            </table>
                        </div>
                        <div class="after-table-text">
                            <div class="points-para">
                                * Cumulative Bonus as mentioned in Policy Wordings. Cumulative Bonus (CB) given is as on 60 days prior to your policy expiry. Any claim registered after this, CB will be adjusted accordingly.
                            </div>
                            <div class="points-para">
                                In case of family floater where the age of the dependent child is greater than 25 years, a separate renewal notice is sent.Please submit a separate proposal form for this member. Please note that suitable credit of continuity/waiting periods for all the applicable previous policy years would be extended in this new policy of the separated member.
                            </div>
                            <div class="points-para">
                                Please pay your premium by cheque/DD/Pay Order drawn in favor of <b>'Tata AIG General Insurance Company Limited'.</b> <br>
                                In case of any assistance, please reach us on our toll free no. 1800 266 7780/Senior Citizen toll free no. 1800 22 9966. Or you can write to us at customersupport@tataaig.com.
                            </div>
                            <div class="points-para">
                                For TATA AIG General Insurance Company Limited
                            </div>
                            <div class="points-para">
                                <img class="tata-logo" src="../images/logo.png" alt="">
                            </div>
                            <div class="points-para">
                                Signature
                            </div>
                        </div>
                    </div>
                    <div class="column right" style="font-size: 12.5px;">
                        <!-- <div class="ads">
                            <img  class="tata-aig-logo" src="./logo.png" alt="">
                        </div> -->
                        <div class="text-box">
                            <div class="box-text">
                                <b>General Exlusions:</b>
                                <b>Medical Exclusions:</b> <br>
                                􏱉Congenital External Diseases, defects or anomalies <br>
                                􏱉 Admission primarily for diagnostic and evaluation purposes only <br>
                                <b>Non-Medical Exclusions:</b> <br>
                                􏱉 Intentional self-injury or attempted suicide while sane or insane. <br>
                                􏱉 Any Insured Person attempting to commit a breach of law with criminal intent <br>
                                􏱉 Any Insured Person’s participation or involvement in naval, military or air force operation, racing, diving, aviation, scuba diving, parachuting, hang-gliding, rock or mountain climbing Please refer to policy wordings for complete list of Benefits and Exclusions. <br>
                                <b>Terms and Conditions:</b> <br>
                                􏱉 The policy is lifelong renewable upon timely payment of premium. <br>
                                􏱉 Grace period of 30 days from the policy expiry is available. Coverage is not available for the period for which no premium is received. <br>
                                􏱉 Any product revision/modification/futur e withdrawal will be done with the approval of IRDAI and will be intimated to You atleast 3 months in advance. In case of withdrawal, you have an option to migrate to our similar health insurance product. 􏱉 Sum insured can be enhanced only at the time of renewal subject to Company’s underwriting guidelines & fresh waiting periods will be applicable on the enhanced sum insured. <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-bottom-page2">
                <footer>
                    <div class="footer-pink-page2">
                        <div class="footer-header">
                            <div class="header-head" style="font-size: 13px;">
                                <h2>Policy Renewal Slip</h2>
                            </div>
                            <div class="footer-header-text" style="font-size: 12.5px;">
                                Please fill this slip and send it to Tata AIG General Insurance Company Ltd., PO Box No. 27707, Malad (East), Mumbai - 400 097, Maharashtra, India. Call 24x7 Toll Free Helpline 1800-266-7780 (*Toll Free from MTNL/BSNL lines only) for any guidance.
                            </div>
                        </div>
                        <div class="footer-payment">
                            <div class="checkbox"></div>
                            <div class="checkbox-text" style="font-size: 12.5px;">
                                <b>Yes ! I would like to renew my policy as per given details below !</b>
                            </div> <br>
                            <div class="policy" style="font-size: 12.5px;">
                            <h3>Policy No. :-</h3>
                            </div>
                            <div class="white-box-page2">
                                <div class="payment-text" style="font-size: 12.5px;">
                                    0235030105
                                </div>
                            </div>
                            <!-- <div class="payment-imp">
                                Please draw your cheque / DD in favour of Tata AIG General Insurance Company Limited. For any assistance call us on 24x7 Toll Free Helpline 1800 266 7780 See reverse toverify and correct your policy details.
                            </div>
                            <div>
                                Commencement of risk cover under the policy is subject to receipt of payable premium by Tata AIG General Insurance Company Limited
                            </div>
                            <div>
                                Other details:
                            </div>
                            <div class="white-box">
                                <div class="pan-text">
                                    Insured's PAN Card Number: ________________ Identification card: Type _____________________ Number:___________________ Please provide documentary address proof.
                                </div>
                            </div> -->
                        </div>
                        <div class="personal-details" style="font-size: 12.5px;">
                            Personal Details - Please give details in case of any change.
                        </div>
                        <div class="footer-box">
                            <div class="text-box page2-box">
                                <div class="box-text">
                                    My New Address : ______________________________________________________________________________________________________________________________ <br>
                                    Contact Number : _________________________ <span class="blank-page2">Mobile ____________________ </span> <span class="blank-page2">Email-ID _________________________</span> 
                                </div>
                            </div>
                        </div>
                        <div class="signature" style="font-size: 12.5px;">
                            <h3>Customer's Signature</h3>
                        </div>
                        <div class="page-footer">
                            <div class="page-footer-head" style="font-size: 12.5px;">
                                Tata AIG General Insurance Company Limited
                            </div>
                            <div class="page-footer-text" style="font-size: 12.5px;">
                                <span class="page-footer-head">Registered Office: </span>Peninsula Business Park, Tower A, 15th Floor, G. K. Marg, Lower Parel, Mumbai - 400 013, Maharashtra, India. <br>
                                24x7 Toll Free No: 1800 266 7780 or 1800 22 9966 (Senior Citizens) Email: customersupport@tataaig.com Website: www.tataaig.com <br>
                                IRDA of India Registration No: 108 CIN: U85110MH2000PLC128425 PAN: AABCT3518Q GST No.: 27AABCT3518Q1ZW UIN No: TATHLIP21253V022021.
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>